<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!--http://wiki.ros.org/rtabmap_ros/Tutorials/HandHeldMapping-->

    <!-- Select localization or mapping mode -->
<!--    <arg name="loc" default="false"/>-->
<!--    <arg name="map" default="false"/>-->

<!--    &lt;!&ndash; Select visualization &ndash;&gt;-->
<!--    <arg name="rviz" default="false"/>-->
<!--    <arg name="rtabmapviz" default="true"/>-->

<!--    &lt;!&ndash; RealSense D435i RGB-D on &ndash;&gt;-->
<!--    <include file="$(find realsense2_camera)/launch/rs_camera.launch">-->
<!--        <arg name="align_depth" value="true"/>-->
<!--        <arg name="unite_imu_method" value="copy"/>-->
<!--        <arg name="enable_gyro" value="true"/>-->
<!--        <arg name="enable_accel" value="true"/>-->
<!--    </include>-->

<!--    &lt;!&ndash; IMU filter&ndash;&gt;-->
<!--    <node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node" args="_use_mag:=false _publish_tf:=false _world_frame:=enu /imu/data_raw:=/camera/imu /imu/data:=/rtabmap/imu" />-->

<!--    http://wiki.ros.org/rtabmap_ros/Tutorials/SetupOnYourRobot-->
  <group ns="rtabmap">

    <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="standalone rtabmap_ros/rgbd_sync" output="screen">
      <remap from="rgb/image"       to="/rs_camera/color/image_raw"/>
      <remap from="depth/image"     to="/rs_camera/depth/image_raw"/>
      <remap from="rgb/camera_info" to="/rs_camera/color/camera_info"/>
      <remap from="rgbd_image"      to="rgbd_image"/> <!-- output -->

      <!-- Should be true for not synchronized camera topics
           (e.g., false for kinectv2, zed, realsense, true for xtion, kinect360)-->
      <param name="approx_sync"       value="false"/>
    </node>

    <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
          <param name="frame_id" type="string" value="base_link"/>

          <param name="subscribe_depth" type="bool" value="true"/>
          <param name="subscribe_rgbd" type="bool" value="true"/>

          <remap from="odom" to="/odometry/local/filtered"/>

          <remap from="rgbd_image" to="rgbd_image"/>

          <param name="queue_size" type="int" value="10"/>

          <!-- RTAB-Map's parameters -->
          <param name="RGBD/AngularUpdate"        type="string" value="0.01"/>
          <param name="RGBD/LinearUpdate"         type="string" value="0.01"/>
          <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
    </node>
  </group>
</launch>