<!--based on rtabmap_ros demo_turtlebot_mapping.launch-->

<launch>
    <!-- Kinect cloud to laser scan -->
    <!--    <node pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" name="depthimage_to_laserscan">-->
    <!--        <remap from="image" to="/rs_camera/depth/image_raw"/>-->
    <!--        <remap from="camera_info" to="/rs_camera/depth/camera_info"/>-->
    <!--        &lt;!&ndash;        <remap from="camera_info" to="/rs_camera/color/camera_info"/>&ndash;&gt;-->
    <!--        <remap from="scan" to="/rs_scan"/>-->
    <!--        <param name="range_max" type="double" value="10"/>-->
    <!--        <param name="scan_height" type="int" value="10"/>-->
    <!--    </node>-->

    <!-- Pointcloud to laser scan-->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_node">
        <remap from="cloud_in" to="/rs_camera/depth/color/points"/>
        <remap from="scan" to="/rs_scan"/>
        <rosparam>
            target_frame: rs_camera_link
            <!--            min_height: 0-->
            <!--            max_height: 1.0-->
        </rosparam>
    </node>


    <!-- SLAM -->
    <arg name="rgb_topic" default="/rs_camera/color/image_raw"/>
    <arg name="depth_topic" default="/rs_camera/depth/image_raw"/>
    <arg name="camera_info_topic" default="/rs_camera/color/camera_info"/>
    <arg name="scan_topic" default="/rs_scan"/>
    <!--    <arg name="odom_topic" default="/odometry/local/filtered"/>-->

    <arg name="database_path" default="rtabmap_visual_strange.db"/>
    <arg name="rgbd_odometry" default="true"/>
    <arg name="rtabmapviz" default="true"/> <!--arg for gui: -d $(find rtabmap_ros)/launch/config/rgbd_gui.ini"-->
    <arg name="localization" default="true"/>
    <arg if="$(arg localization)" name="args" default=""/>
    <arg unless="$(arg localization)" name="args" default="--delete_db_on_start"/>
    <arg name="wait_for_transform" default="0.2"/>

    <group ns="rtabmap">
        <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="$(arg args)">
            <param name="database_path" type="string" value="$(arg database_path)"/>
            <param name="frame_id" type="string" value="base_footprint"/>
            <param name="wait_for_transform_duration" type="double" value="$(arg wait_for_transform)"/>
            <param name="subscribe_depth" type="bool" value="true"/>
            <param name="subscribe_scan" type="bool" value="true"/>

            <!-- inputs -->
            <!--            <remap from="odom" to="$(arg odom_topic)"/>-->
            <remap from="scan" to="$(arg scan_topic)"/>
            <remap from="rgb/image" to="$(arg rgb_topic)"/>
            <remap from="depth/image" to="$(arg depth_topic)"/>
            <remap from="rgb/camera_info" to="$(arg camera_info_topic)"/>

            <!-- Fix odom covariance as in simulation the covariance in /odom topic is high (0.1 for linear and 0.05 for angular) -->
            <!--            <param name="odom_frame_id" value="odom"/>-->
            <!--            <param name="odom_tf_linear_variance" value="0.1"/>-->
            <!--            <param name="odom_tf_angular_variance" value="0.05"/>-->
            <!-- output -->
            <remap from="grid_map" to="/map"/>

            <!-- RTAB-Map's parameters -->
            <param name="RGBD/ProximityBySpace" type="string" value="false"/>
            <param name="RGBD/AngularUpdate" type="string" value="0.01"/>
            <param name="RGBD/LinearUpdate" type="string" value="0.01"/>
            <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false"/>
            <param name="Reg/Force3DoF" type="string" value="true"/>
            <param name="Vis/MinInliers" type="string" value="20"/>
            <param name="Reg/Strategy" type="string" value="0"/> <!-- 0=Visual, 1=ICP, 2=Visual+ICP -->
            <param name="RGBD/SavedLocalizationIgnored" type="bool" value="true"/>
            <param name="GridGlobal/MinSize" type="string" value="20"/>

            <!-- localization mode -->
            <param if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false"/>
            <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true"/>
            <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)"/>
        </node>

        <!-- Odometry : ONLY for testing without the actual robot! /odom TF should not be already published. -->
        <node if="$(arg rgbd_odometry)" pkg="rtabmap_ros" type="rgbd_odometry" name="rgbd_odometry" output="screen">
            <param name="frame_id" type="string" value="base_footprint"/>
            <param name="wait_for_transform_duration" type="double" value="$(arg wait_for_transform)"/>
            <param name="Reg/Force3DoF" type="string" value="true"/>
            <param name="Vis/InlierDistance" type="string" value="0.05"/>

            <remap from="rgb/image" to="$(arg rgb_topic)"/>
            <remap from="depth/image" to="$(arg depth_topic)"/>
            <remap from="rgb/camera_info" to="$(arg camera_info_topic)"/>
        </node>


        <!-- visualization with rtabmapviz -->
        <node if="$(arg rtabmapviz)" pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz"
              args="" output="screen">
            <param name="frame_id" value="base_footprint"/>
            <param name="subscribe_depth" type="bool" value="true"/>
            <param name="subscribe_scan" type="bool" value="true"/>
            <param name="wait_for_transform_duration" type="double" value="$(arg wait_for_transform)"/>
            <remap from="odom" to="$(arg odom_topic)"/>
            <remap from="scan" to="$(arg scan_topic)"/>
            <remap from="rgb/image" to="$(arg rgb_topic)"/>
            <remap from="depth/image" to="$(arg depth_topic)"/>
            <remap from="rgb/camera_info" to="$(arg camera_info_topic)"/>
        </node>
    </group>
</launch>