<launch>

    <!-- Multi-cameras demo with 2 Kinects -->

    <!-- Cameras -->
    <!-- <include file="$(find tigra_vision)/launch/drivers/start_multiply_rs_camera.launch">
        <arg name= "camera1" value='rs_camera_left'/>
        <arg name= "camera2" value='rs_camera_right'/>
    </include> -->

    <!-- Frames: Kinects are placed at 90 degrees, clockwise -->
    <node pkg="tf" type="static_transform_publisher" name="tf_base_2_camera1" args="0 0.2275 0.87 0.145 0.1 0 /base_link /rs_camera_left_link 1000" />
    <node pkg="tf" type="static_transform_publisher" name="tf_base_2_camera2" args="0 -0.2275 0.87 -0.145 0.1 0 /base_link /rs_camera_right_link 1000" /> 

    <!-- Choose visualization -->
    <arg name="rviz" default="false" />
    <arg name="rtabmapviz" default="true" />
    <arg name="rtab" default="true"/>

    <!-- ODOMETRY MAIN ARGUMENTS: 
          -"strategy"        : Strategy: 0=Frame-to-Map 1=Frame-to-Frame
          -"feature"         : Feature type: 0=SURF 1=SIFT 2=ORB 3=FAST/FREAK 4=FAST/BRIEF 5=GFTT/FREAK 6=GFTT/BRIEF 7=BRISK
          -"nn"              : Nearest neighbor strategy : 0=Linear, 1=FLANN_KDTREE, 2=FLANN_LSH, 3=BRUTEFORCE 
                               Set to 1 for float descriptor like SIFT/SURF                  
                               Set to 3 for binary descriptor like ORB/FREAK/BRIEF/BRISK  
          -"max_depth"       : Maximum features depth (m)  
          -"min_inliers"     : Minimum visual correspondences to accept a transformation (m)  
          -"inlier_distance" : RANSAC maximum inliers distance (m)  
          -"local_map"       : Local map size: number of unique features to keep track 
          -"odom_info_data"  : Fill odometry info messages with inliers/outliers data.
      -->
    <arg name="strategy" default="0" />
    <arg name="feature" default="6" />
    <arg name="nn" default="3" />
    <arg name="max_depth" default="10.0" />
    <arg name="min_inliers" default="12" />
    <arg name="inlier_distance" default="0.05" />
    <arg name="local_map" default="1000" />
    <arg name="odom_info_data" default="true" />
    <arg name="wait_for_transform" default="true" />

    <arg name="rgb_topic" default="color/image_raw" />
    <arg name="depth_topic" default="aligned_depth_to_color/image_raw" />
    <arg name="camera_info_topic" default="color/camera_info" />

 

    <!-- sync rgb/depth images per camera -->
    <group ns="rs_camera_left">
        <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="load rtabmap_ros/rgbd_sync realsense2_camera_manager" output="screen">
            <remap from="rgb/image" to="$(arg rgb_topic)" />
            <remap from="depth/image" to="$(arg depth_topic)" />
            <remap from="rgb/camera_info" to="$(arg camera_info_topic)" />
        </node>
    </group>
    <group ns="rs_camera_right">
        <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="load rtabmap_ros/rgbd_sync realsense2_camera_manager" output="screen">
            <remap from="rgb/image" to="$(arg rgb_topic)" />
            <remap from="depth/image" to="$(arg depth_topic)" />
            <remap from="rgb/camera_info" to="$(arg camera_info_topic)" />
        </node>
    </group>

    <group if = "$(arg rtab)" ns="rtabmap">

        <!-- Odometry -->
        <node pkg="rtabmap_ros" type="rgbd_odometry" name="rgbd_odometry" output="screen">
            <remap from="rgbd_image0" to="/rs_camera_left/rgbd_image" />
            <remap from="rgbd_image1" to="/rs_camera_right/rgbd_image" />

            <param name="subscribe_rgbd" type="bool" value="true" />
            <param name="frame_id" type="string" value="base_link" />
            <param name="rgbd_cameras" type="int" value="2" />
            <param name="wait_for_transform" type="bool" value="$(arg wait_for_transform)" />
            <param name="Odom/Strategy" type="string" value="$(arg strategy)" />
            <param name="OdomF2M/BundleAdjustment" type="string" value="0" /> <!-- should be 0 for multi-cameras -->
            <param name="Vis/EstimationType" type="string" value="0" /> <!-- should be 0 for multi-cameras -->
            <param name="Vis/FeatureType" type="string" value="$(arg feature)" />
            <param name="Vis/CorGuessWinSize" type="string" value="0" />
            <param name="Vis/CorNNType" type="string" value="$(arg nn)" />
            <param name="Vis/MaxDepth" type="string" value="$(arg max_depth)" />
            <param name="Vis/MinInliers" type="string" value="$(arg min_inliers)" />
            <param name="Vis/InlierDistance" type="string" value="$(arg inlier_distance)" />
            <param name="OdomF2M/MaxSize" type="string" value="$(arg local_map)" />
            <param name="Odom/FillInfoData" type="string" value="$(arg odom_info_data)" />
        </node>

        <!-- Visual SLAM (robot side) -->
        <!-- args: "delete_db_on_start" and "udebug" -->
        <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="--delete_db_on_start">
            <param name="subscribe_depth" type="bool" value="false" />
            <param name="subscribe_rgbd" type="bool" value="true" />
            <param name="rgbd_cameras" type="int" value="2" />
            <param name="frame_id" type="string" value="base_link" />
            <param name="gen_scan" type="bool" value="true" />
            <param name="wait_for_transform" type="bool" value="$(arg wait_for_transform)" />
            <param name="map_negative_poses_ignored" type="bool" value="false" /> <!-- refresh grid map even if we are not moving-->
            <param name="map_negative_scan_empty_ray_tracing" type="bool" value="false" /> <!-- don't fill empty space between the generated scans-->

            <remap from="rgbd_image0" to="/rs_camera_left/rgbd_image" />
            <remap from="rgbd_image1" to="/rs_camera_right/rgbd_image" />

            <param name="Grid/FromDepth" type="string" value="false" />
            <param name="Vis/EstimationType" type="string" value="0" /> <!-- should be 0 for multi-cameras -->
            <param name="Vis/MinInliers" type="string" value="10" />
            <param name="Vis/InlierDistance" type="string" value="$(arg inlier_distance)" />
        </node>

        <!-- Visualisation RTAB-Map -->
        <node if="$(arg rtabmapviz)" pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" output="screen">
            <param name="subscribe_depth" type="bool" value="false" />
            <param name="subscribe_rgbd" type="bool" value="true" />
            <param name="subscribe_odom_info" type="bool" value="$(arg odom_info_data)" />
            <param name="frame_id" type="string" value="base_link" />
            <param name="rgbd_cameras" type="int" value="2" />
            <param name="wait_for_transform" type="bool" value="$(arg wait_for_transform)" />

            <remap from="rgbd_image0" to="/rs_camera_left/rgbd_image" />
            <remap from="rgbd_image1" to="/rs_camera_right/rgbd_image" />
        </node>

    </group>

    <!-- Visualization RVIZ -->
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find rtabmap_ros)/launch/config/rgbd.rviz" />

</launch>
  