<launch>


    <!-- SLAM -->
    <arg name="localization" default="true" />
    <arg name="rgb_topic" default="/rs_camera/color/image_raw" />
    <arg name="depth_topic" default="/rs_camera/aligned_depth_to_color/image_raw" />
    <arg name="camera_info_topic" default="/rs_camera/color/camera_info" />
    <arg name="imu_topic" default="/rs_camera/imu/filtered" />
    <arg name="odom_topic" default="/tigra/odometry/filtered" />
    <!-- <arg name="odom_topic" default="/tigra/vo" /> -->
    <arg name="FeatureType" default="6" />
    <arg name="database_path" default="$(find tigra_maps)/3d_maps/dvorik.db" />
    <arg name="rtabmapviz" default="true" /> <!--arg for gui: -d $(find rtabmap_ros)/launch/config/rgbd_gui.ini"-->
    <arg if="$(arg localization)" name="args" default="" />
    <arg unless="$(arg localization)" name="args" default="--delete_db_on_start" />
    <arg name="wait_for_transform" default="0.2" />

    <group ns="rtabmap">
        <node pkg="rtabmap_ros" type="rgbd_odometry" name="visual_odometry" output="log">
            <param name="frame_id" type="string" value="base_footprint" />
            <param name="publish_null_when_lost" type="bool" value="true" />
            <param name="guess_frame_id" type="string" value="" />
            <param name="Reg/Force3DoF" type="bool" value="true" />
            <param name="Vis/InlierDistance" type="string" value="0.05" />
            <param name="wait_for_transform_duration" type="double" value="$(arg wait_for_transform)" />
            <param name="Vis/FeatureType" type="string" value="$(arg FeatureType)" />

            <remap from="odom" to="/tigra/vo" />
            <remap from="imu" to="$(arg imu_topic)" />
            <remap from="rgb/image" to="$(arg rgb_topic)" />
            <remap from="depth/image" to="$(arg depth_topic)" />
            <remap from="rgb/camera_info" to="$(arg camera_info_topic)" />

            <!-- legacy -->
            <param name="Odom/FillInfoData" type="string" value="true" />
            <param name="Odom/ResetCountdown" type="string" value="10" />
            <param name="OdomF2M/MaxSize" type="string" value="1000" />

            
        </node>

        <node name="rtabmap" pkg="rtabmap_ros" type="rtabmap" output="screen" args="$(arg args)">
            <param name="database_path" type="string" value="$(arg database_path)" />
            <param name="frame_id" type="string" value="base_footprint" />
            <param name="wait_for_transform_duration" type="double" value="$(arg wait_for_transform)" />
            <param name="subscribe_depth" type="bool" value="true" />

            <!-- inputs -->
            <remap from="odom" to="$(arg odom_topic)" />
            <remap from="rgb/image" to="$(arg rgb_topic)" />
            <remap from="depth/image" to="$(arg depth_topic)" />
            <remap from="rgb/camera_info" to="$(arg camera_info_topic)" />
            <!-- <remap from="imu" to="$(arg imu_topic)" /> -->
            <!-- set odom covariance -->
            <param name="odom_frame_id" value="odom" />
            <param name="odom_tf_linear_variance" value="0.1" />
            <param name="odom_tf_angular_variance" value="0.05" />


            <!-- output -->
            <!-- <remap from="grid_map" to="/map" /> -->

            <!-- RTAB-Map's parameters -->
            <param name="RGBD/ProximityBySpace" type="string" value="true" />
            <param name="RGBD/AngularUpdate" type="string" value="0" />
            <param name="RGBD/LinearUpdate" type="string" value="0" />
            <param name="RGBD/OptimizeFromGraphEnd" type="string" value="false" />
            <param name="Reg/Force3DoF" type="string" value="true" />
            <param name="Vis/MinInliers" type="string" value="12" />
            <param name="Reg/Strategy" type="string" value="0" /> <!-- 0=Visual, 1=ICP, 2=Visual+ICP -->
            <param name="GridGlobal/MinSize" type="string" value="20" />
            <param name="Kp/DetectorStrategy" type="string" value="$(arg FeatureType)" />
            <param name="Rtabmap/DetectionRate" type="string" value= "3"/>


            <!-- legacy -->
            <param name="Grid/3D" value="false" />
            <param name="Grid/CellSize" value="0.1" />
            <param name="Grid/MaxGroundHeight" type="string" value="0.3" />
            <param name="Grid/MaxObstacleHeight" type="string" value="2" />
            <param name="Grid/NormalsSegmentation" type="string" value="false" />
            <param name="Grid/RangeMax" value="9.0" />
            <param name="Grid/RangeMin" value="2.0" />
            <param name="GridGlobal/MinSize" type="string" value="250" />

            <!-- localization mode -->
            <param if="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="false" />
            <param unless="$(arg localization)" name="Mem/IncrementalMemory" type="string" value="true" />
            <param name="Mem/InitWMWithAllNodes" type="string" value="$(arg localization)" />
        </node>

        <!-- visualization with rtabmapviz -->
        <node if="$(arg rtabmapviz)" pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="" output="screen">
            <param name="frame_id" value="base_footprint" />
            <param name="subscribe_depth" type="bool" value="true" />
            <param name="wait_for_transform_duration" type="double" value="$(arg wait_for_transform)" />
            <remap from="odom" to="$(arg odom_topic)" />
            <remap from="rgb/image" to="$(arg rgb_topic)" />
            <remap from="depth/image" to="$(arg depth_topic)" />
            <remap from="rgb/camera_info" to="$(arg camera_info_topic)" />
            <!-- <remap from="imu" to="$(arg imu_topic)" /> -->
        </node>
    </group>
</launch>