<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="folder_name" default="efk" />
    
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization">
        <rosparam command="load" file="$(find tigra_software)/config/$(arg folder_name)/ekf_odom.yaml" />

        <remap from="/odometry/filtered" to="/odometry/local/filtered" />
    </node>

</launch>