<?xml version="1.0"?>
<launch>

  <!-- <param name="use_sim_time" value="true" /> -->

  <node pkg="tf" type="static_transform_publisher" name="map_2_odom" args="0.5 0 0 0 0 0 map odom 50" />
  <node pkg="tf" type="static_transform_publisher" name="base_2_imu" args="0 0 0 0 0 0 base_footprint gps 20" />
  <node pkg="tf" type="static_transform_publisher" name="sensors_2_base" args="0 0 0 0 0 0 base_footprint phone_sensors 20" />


  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_global">
  
    <rosparam command="load" file="$(find tigra_software)/config/ekf/ekf_map_test.yaml"/>
    <remap from="/odometry/filtered" to="/odometry/global/filtered" />

  </node>




  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" respawn="true">
  
    <param name="frequency" value="30"/>  
    <param name="delay" value="3.0"/>
  
  <!-- SPb parameters -->
   
    <param name="magnetic_declination_radians" value="0.2"/>  

  <!-- SPb parameters -->
 
  <!-- Robocross parameters -->

    <!-- <param name="magnetic_declination_radians" value="0.2325"/>   -->

  <!-- Robocross parameters -->

    <param name="yaw_offset" value="1.57"/>
    <param name="publish_filtered_gps" value="true"/>
    <param name="broadcast_cartesian_transform_as_parent_frame" value="false"/>
    <param name="broadcast_utm_transform" value="false"/>
    <param name="use_odometry_yaw" value="false"/>
    <param name="wait_for_datum" value="false"/>
    <param name="zero_altitude" value="true"/>


   <remap from="/imu/data" to="/tigra/phone_sensors/imu" />
    <remap from="/gps/fix" to="/ublox/fix" /> 
    <remap from="/odometry/filtered" to="/odometry/global/filtered" />
    

    <remap from="odometry/gps" to="/nav/gps" />

  </node>

  <include file="$(find tigra_software)/launch/view/rviz_start.launch">

    <arg name="rvizconfig" value="$(find tigra_software)/config/rviz/ekg_test.rviz" />

  </include>

  
</launch>
