<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="param_file_name"     default="m8n"/>
  <arg name="param_file_dir"      default="$(find tigra_software)/config/gps"/>

  <arg name="node_name"           doc="name of this node"
                                  default="ublox" />
  <arg name="output"              default="screen" />
  <arg name="respawn"             default="true" />
  <arg name="respawn_delay"       default="30" />
  <arg name="clear_params"        default="true" />
  <arg name="device"        default="/dev/ttyUSB0" />

  <node pkg="ublox_gps" type="ublox_gps" name="$(arg node_name)"
        output="$(arg output)"
        clear_params="$(arg clear_params)"
        respawn="$(arg respawn)"
        respawn_delay="$(arg respawn_delay)">
     <rosparam command="load"
              file="$(arg param_file_dir)/$(arg param_file_name).yaml" />
              
     <param name="device" value="$(arg device)"/>
  </node>
</launch>
