<?xml version="1.0"?>
<launch>

    <!-- hw driver -->
    <include file="$(find maddrive_hardware_tools)/launch/simpleRTK2B.launch"/>

    <!-- ntrip client -->
    <include file="$(find ntrip_client)/launch/ntrip_client.launch">
        <arg name="host" value="ntrip.eftgroup.ru"/>
        <arg name="port" value="7050" />
        <arg name="mountpoint" value="DMTR3_2" />
        <arg name="authenticate" value="true" />
        <arg name="username" value="msc2985" />
        <arg name="password" value="m5yi0dya" />
        <arg name="ntrip_version" value="" />
        <arg name="ssl" value="false" />
        <arg name="cert" value="false" />
        <arg name="key" value="false" />
        <arg name="ca_cert" value="false" />
        <arg name="debug" value="true" />
        <arg name="rtcm_message_package" value="rtcm_msgs" />
    </include>

</launch>