<?xml version="1.0"?>
<launch>

  #### Nodelet manager ######################################################

  <node pkg="nodelet" type="nodelet" name="imu_manager" 
    args="manager" output="screen" />

  #### IMU Driver ###########################################################

  <node pkg="nodelet" type="nodelet" name="ImuFilterNodelet" 
    args="load imu_filter_madgwick/ImuFilterNodelet imu_manager" 
    output="screen">
    
    <param name="publish_tf" value="false"/>


    <remap from="imu/data_raw" to="/tigra/phone_sensors/imu" />
    <remap from="imu/data" to="/tigra/imu/filtered" />


  </node>



</launch>
