<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <node pkg="tigra_software" type="phone_server.py" name="phone_sensors_server" output="screen">
        <rosparam command="load" file="$(find tigra_software)/config/phone_sensors.yaml" />

        <remap from='imu' to='tigra/phone_sensors/imu' />
        <remap from='gps' to='tigra/phone_sensors/gps' />
    </node>

    <!-- TODO - check if it should be rotated? -->
    <node pkg="tf" type="static_transform_publisher" name="phone_base_2_phone_imu" args="0 0 0 -1.5707963 0 0 /phone_sensors /phone_sensors_imu 1000" />
    <node pkg="tf" type="static_transform_publisher" name="phone_base_2_phone_gps" args="0 0 0 0 0 0 /phone_sensors /phone_sensors_gps 1000" />
</launch>