<launch>
    <arg name="odom_frame" default="odom_new"/>
    <node name="octomap" pkg="octomap_server" type="octomap_server_node">
        <remap from="cloud_in" to="/tigra/merged_points"/>
        <!-- <remap from="cloud_in" to="/tigra/front/points2"/> -->
        
        <!-- <remap from="scan" to="/tigra/scan" /> -->
        <param name="frame_id" value="odom_frame"/>
        <!-- <param name="base_frame_id" value="base_link"/>
        <param name="resolution" value=".4"/>
        <param name="odom_frame" value="$(arg odom_frame)"/> -->
    </node>
</launch>