 <launch>

    <arg name="paused" default="false"/>
    <arg name="use_sim_time" default="true"/>
    <arg name="gui" default="true"/>
    <arg name="headless" default="false"/>
    <arg name="debug" default="false"/>

    <param name="robot_description" command="$(find xacro)/xacro '$(find tigra_description)/urdf/tigra.urdf.xacro'" />
        <arg name="x" default="0"/>
        <arg name="y" default="0"/>
        <arg name="z" default="1.6"/>
 <!-- 0.6 -->

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find tigra_description)/worlds/corridor.world"/>
        <arg name="debug" value="$(arg debug)" />
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="$(arg use_sim_time)"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

  <param name="new_robot_description"
    command="$(find xacro)/xacro --inorder '$(find tigra_description)/urdf/tigra.urdf.xacro'" />

    <node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
      args="-urdf -param robot_description -model robot -x $(arg x) -y $(arg y) -z $(arg z)" />



  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

</launch>