<?xml version="1.0" encoding="UTF-8"?>

<launch>

    <include file="$(find tigra_description)/launch/tigra_lidar.launch">
        <arg name="world" default="$(find tigra_maps)/worlds/lab.world"/>
        <arg name="gui" default="true"/>
    </include>
    
    <include file="$(find tigra_software)/launch/drivers/uc_convertion_layer.launch">
        <arg name="publish_tf" value="false"/>
    </include>


    <include file="$(find tigra_software)/launch/drivers/ekf_odom.launch">
        <arg name="folder_name" value="ekf_sim" />
    </include>
    <!-- <include file="$(find tigra_software)/launch/drivers/ekf_map.launch"></include> -->

    <include file="$(find tigra_software)/launch/view/rviz_start.launch">
        <arg name="rvizconfig" value="$(find tigra_software)/config/rviz/lidar_sim.rviz" />
    </include>



    <include file="$(find tigra_software)/launch/drivers/move_base.launch">
        <arg name="folder_name" value="move_base_sim" />
        <arg name="cmd_topic" value="/tigra/cmd_vel" />-
    </include>

    <node pkg="tf" type="static_transform_publisher" name="odom_2_map" args="0 0 0 0 0 0 /odom /map 1000" />

</launch>