<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <arg name="map_name" default="new_map.db" />
    <arg name="localization" default="false" /> <!-- set false to start mapping with move_base-->
    <arg name='rviz' default="true" />
    <arg name='rtabmapviz' default='false' />

    <!-- simulation with robot -->
    <include file="$(find tigra_description)/launch/tigra.launch">
        <arg name="world" value="$(find tigra_maps)/worlds/lab.world"/>
        <arg name="gui" value="false" />
    </include>
    <include file="$(find tigra_software)/launch/drivers/uc_convertion_layer.launch">
        <arg name="publish_tf" value="false" />
    </include>

    <include file="$(find tigra_software)/launch/drivers/move_base.launch">
        <arg name="folder_name" value="move_base_vo" />
        <arg name="cmd_topic" value="tigra/cmd_vel" />
    </include>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true" output="screen">
        <rosparam command="load" file="$(find tigra_software)/config/ekf/ekf_sim_odom.yaml" />
        <remap from="odometry/filtered" to="tigra/odometry/filtered/local" />
    </node>

    <include file="$(find tigra_vision)/launch/start_rtabmap.launch">
        <!-- <param name="Rtabmap/DetectionRate" type="string" value="1" /> -->
        <arg name="localization" value="$(arg localization)" />
        <arg name="database_path" value="$(find tigra_maps)/3d_maps/$(arg map_name)" />
        <arg name="rtabmapviz" value="$(arg rtabmapviz)" />
    </include>

    <!-- rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tigra_software)/config/rviz/common_sim.rviz"/>
</launch>