<?xml version="1.0" ?>
<robot name="tigra" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:property name="lidar_mass" value="0.1" />
<xacro:property name="lidar_height" value="0.02"/>
<xacro:property name="lidar_radius" value="0.04"/>
<xacro:property name="lidar_location" value="0.55"/>

<xacro:macro name="cylinder_inertial"
               params="r h mass *origin">
    <inertial>
      <xacro:insert_block name="origin"/>
      <mass value="${mass}"/>
      <inertia ixx="${mass / 12 * (3 * r * r + h * h)}" ixy="0.0" ixz="0.0"
               iyy="${mass / 12 * (3 * r * r + h * h)}" iyz="0.0"
               izz="${mass / 2 * r * r}" />
    </inertial> 
</xacro:macro>

<!-- Hokuyo Laser -->
  <link name="lidar_link">
    <xacro:cylinder_inertial
        r="${lidar_radius}" 
        h="${lidar_height}"
        mass="${lidar_mass}" >
      <origin xyz="0 0 0" rpy="0 0 0" />
    </xacro:cylinder_inertial>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${lidar_height}" radius="${lidar_radius}"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${lidar_height}" radius="${lidar_radius}"/>
      </geometry>
    </visual>
  </link>
 
   <joint name="lidar_joint" type="fixed">
    <axis xyz="0 1 0" />
    <origin xyz="0 0 ${lidar_location}" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="lidar_link"/>
  </joint>

</robot>
