<?xml version="1.0"?>
<robot name="tigra" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:include filename="$(find tigra_description)/urdf/tigra.urdf.xacro" />
	<xacro:include filename="$(find tigra_description)/urdf/macros/camera.urdf.xacro" />

	<xacro:single_camera name="front_direction_left" direction="front" position="left" xyz="0.93 0.2 0.3" rpy="0 0 0" fov="1.3962634" />
	<xacro:single_camera name="front_direction_right" direction="front" position="right" xyz="0.93 -0.2 0.3" rpy="0 0 0" fov="1.3962634" />

	<xacro:single_camera name="backside_direction_left" direction="backside" position="left" xyz="-0.93 -0.2 0.3" rpy="0 0.0 ${degrees_180}" fov="1.3962634" />
	<xacro:single_camera name="backside_direction_right" direction="backside" position="right" xyz="-0.93 0.2 0.3" rpy="0 0.0 ${degrees_180}" fov="1.3962634" />

	<xacro:single_camera name="rightside_direction_left" direction="rightside" position="left" xyz="0.2 -0.38 0.3" rpy="0 0.0 -${degrees_90}" fov="1.3962634" />
	<xacro:single_camera name="rightside_direction_right" direction="rightside" position="right" xyz="-0.2 -0.38 0.3" rpy="0 0.0 -${degrees_90}" fov="1.3962634" />

	<xacro:single_camera name="leftside_direction_left" direction="leftside" position="left" xyz="-0.2 0.38 0.3" rpy="0 0.0 ${degrees_90}" fov="1.3962634" />
	<xacro:single_camera name="leftside_direction_right" direction="leftside" position="right" xyz="0.2 0.38 0.3" rpy="0 0.0 ${degrees_90}" fov="1.3962634" />

</robot>
