<?xml version="1.0"?>
<!-- realsense2_camera/launch/rs_multiple_devices.launch -->
<launch>

    <arg name="rgb_topic" default="color/image_raw" />
    <arg name="depth_topic" default="aligned_depth_to_color/image_raw" />
    <arg name="camera_info_topic" default="color/camera_info" />
    <arg name='sync_rgbd' default='true'/>
    <arg name="serial_no_camera1" default="135122251612" /> <!-- RS455 serial number -->
    <arg name="serial_no_camera2" default="135122079630" /> <!--rear RS435i serial number -->
    <!-- <arg name="serial_no_camera2" default="135122079630" /> RS435i actual serial number -->
    <arg name="camera1" default="rs_camera" /> <!-- Note: Replace with camera name -->
    <arg name="camera2" default="rs_camera_rear" /> <!-- Note: Replace with camera name -->
    <arg name="tf_prefix_camera1" default="$(arg camera1)" />
    <arg name="tf_prefix_camera2" default="$(arg camera2)" />
    <arg name="initial_reset" default="false" />
    <arg name="reconnect_timeout" default="7.0" />

    <!-- camera args -->
    <arg name="align_depth" default="true" />
    <!-- imu calib https://www.programmersought.com/article/29581858144/ -->
    <arg name="linear_accel_cov" default="2.8946e-2" />
    <arg name="angular_velocity_cov" default="3.02472e-3" />
    <arg name="unite_imu_method" default="linear_interpolation" />
    <arg name="depth_fps" default="30" />
    <arg name="color_fps" default="30" />
    <arg name="enable_gyro" default="true" />
    <arg name="enable_accel" default="true" />

    <group ns="$(arg camera1)">
        <include file="$(find tigra_vision)/launch/drivers/driver_realsense.launch">
            <arg name="serial_no" value="$(arg serial_no_camera1)" />
            <arg name="tf_prefix" value="$(arg tf_prefix_camera1)" />
            <arg name="initial_reset" value="$(arg initial_reset)" />
            <arg name="reconnect_timeout" value="$(arg reconnect_timeout)" />

            <arg name="align_depth" value="$(arg align_depth)" />
            <arg name="linear_accel_cov" value="$(arg linear_accel_cov)" />
            <arg name="angular_velocity_cov" value="$(arg angular_velocity_cov)" />

            <arg name="unite_imu_method" value="$(arg unite_imu_method)" />
            <arg name="depth_fps" value="$(arg depth_fps)" />
            <arg name="color_fps" value="$(arg color_fps)" />
            <arg name="enable_gyro" value="$(arg enable_gyro)" />
            <arg name="enable_accel" value="$(arg enable_accel)" />
        </include>
    </group>

    <group ns="$(arg camera2)">
        <include file="$(find tigra_vision)/launch/drivers/driver_realsense.launch">
            <arg name="serial_no" value="$(arg serial_no_camera2)" />
            <arg name="tf_prefix" value="$(arg tf_prefix_camera2)" />
            <arg name="initial_reset" value="$(arg initial_reset)" />
            <arg name="reconnect_timeout" value="$(arg reconnect_timeout)" />

            <arg name="align_depth" value="$(arg align_depth)" />
            <arg name="linear_accel_cov" value="$(arg linear_accel_cov)" />
            <arg name="unite_imu_method" value="$(arg unite_imu_method)" />
            <arg name="depth_fps" value="$(arg depth_fps)" />
            <arg name="color_fps" value="$(arg color_fps)" />
            <arg name="enable_gyro" value="false" />
            <arg name="enable_accel" value="false" />
        </include>
    </group>

    <include file="$(find tigra_software)/launch/drivers/imu_filter.launch">
        <arg name="in_topic" value="$(arg camera1)/imu" />
        <arg name="out_topic" value="$(arg camera1)/imu/filtered" />
        <arg name="camera" value="$(arg camera1)" />
    </include>
    <!-- <include file="$(find tigra_software)/launch/drivers/imu_filter.launch">
        <arg name="in_topic" value="$(arg camera2)/imu" />
        <arg name="out_topic" value="$(arg camera2)/imu/filtered" />
        <arg name="camera" value="$(arg camera2)" />
    </include> -->

    <!-- sync rgb/depth images per camera -->
    <group if='$(arg sync_rgbd)'>
        <group ns="$(arg camera1)">
            <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="load rtabmap_sync/rgbd_sync realsense2_camera_manager" output="screen">
                <remap from="rgb/image" to="$(arg rgb_topic)" />
                <remap from="depth/image" to="$(arg depth_topic)" />
                <remap from="rgb/camera_info" to="$(arg camera_info_topic)" />
            </node>
        </group>
        <group ns="$(arg camera2)">
            <node pkg="nodelet" type="nodelet" name="rgbd_sync" args="load rtabmap_sync/rgbd_sync realsense2_camera_manager" output="screen">
                <remap from="rgb/image" to="$(arg rgb_topic)" />
                <remap from="depth/image" to="$(arg depth_topic)" />
                <remap from="rgb/camera_info" to="$(arg camera_info_topic)" />
            </node>
        </group>
    </group>

</launch>