<?xml version="1.0"?>
<launch>
  <include file="$(find elp_stereo_camera)/launch/camera_driver_elp.launch">
    <arg name="camera"              value="elp_camera" />
    <arg name="camera_info"         value="true" />
    <arg name="calib_data_path"     value="$(find tigra_vision)/calib_info/elp_new" />
    <arg name="stereo_params_path"  value="$(find tigra_vision)/config/elp_stereo.yaml" />

    <arg name="framerate"           value="10" />
		<!-- <arg name="image_width" value="1280" /> -->
		<!-- <arg name="image_height" value="720" /> -->

		<!-- <arg name="filter_type" value="gauss" /> -->
		<!-- <arg name="filter_kernel" value="3" /> -->
  </include>
</launch>
