<?xml version="1.0"?>
<launch>
  <group ns="T265">
    <include file="$(find tigra_vision)/launch/drivers/driver_realsense.launch">
        <arg name="serial_no"           default=""/>
        <arg name="usb_port_id"         default=""/>
        <arg name="device_type"         default="t265"/>
        <arg name="json_file_path"      default=""/>
        <!-- <arg name="camera"              default="camera"/> -->
        <arg name="tf_prefix"           default="camera"/>

        <arg name="fisheye_width"       default="-1"/> 
        <arg name="fisheye_height"      default="-1"/>
        <arg name="enable_fisheye1"     default="false"/>
        <arg name="enable_fisheye2"     default="false"/>

        <arg name="fisheye_fps"         default="-1"/>

        <arg name="gyro_fps"            default="-1"/>
        <arg name="accel_fps"           default="-1"/>
        <arg name="enable_gyro"         default="true"/>
        <arg name="enable_accel"        default="true"/>
        <arg name="enable_pose"         default="true"/>
        <arg name="enable_sync"           default="false"/>

        <arg name="linear_accel_cov"      default="0.01"/>
        <arg name="initial_reset"         default="false"/>
        <arg name="reconnect_timeout"     default="6.0"/>
        <arg name="unite_imu_method"      default=""/>
        <arg name="publish_odom_tf"     default="true"/>
    </include>
  </group>


</launch>