<!-- original : navigation_global/move_base.xml (electric) -->
<launch>
  <!-- source pointcloud -->
  <arg name="cloud_in" default="/tigra/merged_points" />
  <!-- base frame to scan -->  
  <arg name="scan_frame" default="base_laser" />
  <!-- <arg name="scan_frame" default="tigra/laser/scan" /> -->
  
  <!-- scan range -->
  <!-- <arg name="max_height" default="0.5" /> 
  <arg name="min_height" default="-0.5" />
  <arg name="angle_max" default="2.35619" /> 
  <arg name="angle_min" default="-2.35619" />
  <arg name="range_max" default="50.0" /> -->

  <arg name="max_height" default="0.5" /> <!-- vertical range of laser scan from scan_frame [m] -->
  <arg name="min_height" default="-0.5" />
  <arg name="angle_max" default="2.35619" /> <!-- horizontal range of laser scan [rad] -->
  <arg name="angle_min" default="-2.35619" />
  <arg name="range_max" default="50.0" />




  
  
  <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan_node" output="screen" >
    <remap from="cloud_in" to="$(arg cloud_in)" />
    <remap from="scan" to="base_laser" />
    <param name="target_frame" value="$(arg scan_frame)" />
    <!-- <param name="max_height" value="$(arg max_height)" />
    <param name="min_height" value="$(arg min_height)" />
    <param name="angle_max" value="$(arg angle_max)" />
    <param name="angle_min" value="$(arg angle_min)" />
    <param name="range_min" value="1.5" />
    <param name="range_max" value="$(arg range_max)" />
    <param name="use_inf" value="true" /> -->
  </node>

  
</launch>