<?xml version="1.0"?>
<launch>
  <arg name='rviz' default="true"/>
  <arg name='rtabmapviz' default='true'/>
  <arg name="map_prefix" default="robocross_11_07_23_with_start" />
  <arg name="map_name" default="$(arg map_prefix).db" />
  
  <rosparam param="route_filepath" ns="robot" subst_value="True">$(find tigra_software)/config/routes/route_$(arg map_prefix).yaml</rosparam>

  <!-- <node name="map_server" pkg="map_server" type="map_server" args="$(find tigra_maps)/2d_maps/202207071339.yaml" /> -->

  <include file="$(find tigra_software)/launch/full/full_move_base_control.launch">
    <arg name="localization" value="true" />
    <arg name="map_name" value="$(arg map_name)"/>
    <arg name="rtabmapviz" value="$(arg rtabmapviz)"/> 
  </include>
</launch>