<?xml version="1.0" encoding="UTF-8"?>

<launch>
    <!-- <arg name='' default="false"/> -->
    <include file="$(find tigra_software)/launch/full/full_start_joy_control.launch"/>
    <!-- <include file="$(find tigra_software)/launch/drivers/start_hardware.launch"/> -->
    <!-- SLAM-->
    <include file="$(find tigra_vision)/launch/start_rtabmap.launch">
        <arg name="localization" value="false" />
        <arg name="database_path" value="$(find tigra_maps)/3d_maps/new_map.db" />
        <arg name="rtabmapviz" value="true"/>
    </include>

    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" clear_params="true" output="screen">
        <rosparam command="load" file="$(find tigra_software)/config/ekf/ekf_vo.yaml" />
        <remap from="odometry/filtered" to="/tigra/odometry/filtered" />
    </node>


    <!-- <node if="$(arg debug)" pkg="rqt_plot" type="rqt_plot" name="steering_plot" output="screen" args="/tigra/cmd_vel_raw/angular/z /tigra/cmd_vel/angular/z" /> -->

    <include file="$(find tigra_software)/launch/view/rviz_start.launch">
        <arg name="rvizconfig" value="$(find tigra_software)/config/rviz/full_move_base.rviz" />
    </include>
</launch>
