<?xml version="1.0"?>
<launch>
  <arg name='rviz' default="false"/>
  <arg name='rtabmapviz' default='true'/>
  <arg name="map_name" default="202207061422.db" />

  <include file="$(find tigra_software)/launch/full/full_move_base_control.launch">
    <arg name="localization" value="true" />
    <arg name="map_name" value="$(arg map_name)"/>
    <arg name="rtabmapviz" value="$(arg rtabmapviz)"/> 
  </include>  

</launch>