SUBSYSTEM=="video4linux", KERNELS=="1-5.2:1.0", ATTR{index}=="0", SUBSYSTEMS=="usb", DRIVERS=="uvcvideo", SYMLINK+="left_cam"
SUBSYSTEM=="video4linux", KERNELS=="1-5.3:1.0", ATTR{index}=="0", SUBSYSTEMS=="usb", DRIVERS=="uvcvideo", SYMLINK+="right_cam"
