<?xml version="1.0" encoding="UTF-8" ?>
<launch>
        <!-- overwriting these args -->
        <arg name="debug" default="false" />
        <arg name="gui" default="true" />
        <arg name="pause" default="false" />
        <arg name="world" default="$(find tigra_description)/worlds/volcano.world" />

<param name="robot_description" command="$(find xacro)/xacro '$(find tigra_description)/urdf/springrobot.urdf.xacro'" />
<!-- <param name="robot_description" command="$(find xacro)/xacro '$(find tigra_description)/urdf/springrobot.urdf.xacro'" />  -->  
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="1.0"/>



<!-- TF stuff -->
<!-- send fake joint values -->
<node pkg="tf" type="static_transform_publisher" name="map_odom_broadcaster" args="0 0 0 0 0 0 map odom 0"/>

<!-- Combine joint values -->
<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>
    
<node name="mybot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen"
          args="-urdf -param robot_description -model robot -x $(arg x) -y $(arg y) -z $(arg z)" />
<node name="rviz" pkg="rviz" type="rviz" />

        <!-- include gazebo_ros launcher -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
                <arg name="world_name" value="$(arg world)" />
                <arg name="debug" value="$(arg debug)" />
                <arg name="gui" value="$(arg gui)" />
                <arg name="paused" value="$(arg pause)" />
                <arg name="use_sim_time" value="true" />
        </include>

 <include file="$(find tigra_description)/launch/keyop.launch" />

</launch>

