<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- overwriting these args -->
  <arg name="debug" default="false" />
  <arg name="gui" default="true" />
  <arg name="pause" default="false" />
  <arg name="headless" default="false"/>
  <arg name="world" default="" />
  <arg name="use_sim_time" default="true"/>

  <arg name="x" default="0" />
  <arg name="y" default="0" />
  <arg name="z" default="0.6" />

  <param name="robot_description"
    command="$(find xacro)/xacro '$(find tigra_description)/urdf/tigra_robocross21.urdf.xacro'
    robot_name:=tigra" />

  <node name="robot_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" args="-urdf -param robot_description -model tigra -x $(arg x) -y $(arg y) -z $(arg z)" />

  <!-- include gazebo_ros launcher -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world)" />
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="paused" value="$(arg pause)" />
  </include>

  <!-- Publish static TFs (fixed joints) -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Publish dynamic TFs (non-fixed joints) -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

</launch>