<?xml version="1.0"?>
<!-- TODO - should be updated, don`t use now -->
<robot name="tigra" xmlns:xacro="http://www.ros.org/wiki/xacro">

	<xacro:include filename="$(find tigra_description)/urdf/macros/lidar.urdf.xacro" />
	<xacro:include filename="$(find tigra_description)/urdf/macros/damping_wheels.urdf.xacro" />
	<xacro:include filename="$(find tigra_description)/urdf/macros/inertia.urdf.xacro" />
	<xacro:include filename="$(find tigra_description)/urdf/macros/tigra_params.urdf.xacro" />

	<link name="base_link">
		<visual>
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<box size="${body_length} ${body_width} ${body_heigth}" />
			</geometry>
		</visual>
		<collision name="base_collision">
			<origin xyz="0 0 0" rpy="0 0 0" />
			<geometry>
				<box size="${body_length} ${body_width} ${body_heigth}" />
			</geometry>
		</collision>
		<xacro:box_inertia width="${body_width}" length="${body_length}" height="${body_heigth}" mass="${body_mass}">
			<origin xyz="0 0 0" rpy="0 0 0" />
		</xacro:box_inertia>
	</link>

	<!-- BASE FOOTPRINT-->
	<link name="base_footprint" />
	<gazebo reference="base_footprint" />

	<joint name="base_footprint_2_link" type="fixed">
		<parent link="base_footprint" />
		<child link="base_link" />
		<origin xyz="0 0 ${wheel_radius}" rpy="0 0 0" />
	</joint>

	<gazebo>
		<plugin name="tigra_interface_plugin" filename="libackermann_controller_plugin.so">
			<maxSteerRad>${mid_wheel_turn_limit}</maxSteerRad>
			<wheelbase>${wheelbase}</wheelbase>
			<wheelRadius>${wheel_radius}</wheelRadius>
			<trackWidth>${track_width}</trackWidth>
			<odomFrame>${odom_frame}</odomFrame>
			<pubTf>${arg pub_tf}</pubTf>
			<robotName>${arg robot_name}</robotName>
		</plugin>
	</gazebo>

	<xacro:steer_wheel name="front_right_wheel" base_name="base_link" xyz="0.5 -0.375 -0.35" />
	<xacro:steer_wheel name="front_left_wheel" base_name="base_link" xyz="0.5 0.375 -0.35" />
	<xacro:speed_wheel name="rear_right_wheel" base_name="base_link" xyz="-0.5 -0.375 -0.35" />
	<xacro:speed_wheel name="rear_left_wheel" base_name="base_link" xyz="-0.5 0.375 -0.35" />
</robot>
