<?xml version="1.0"?>
<launch>
	<!-- <include file="cameras_driver_usb.launch"> -->
	<include file="cameras_driver_usb.launch" />

	<node pkg="camera_calibration" type="cameracalibrator.py" name="cameracalibrator" 
		args="--size 8x6 --square 0.102 --no-service-check --approximate=0.01
		--size 7x5 --square 0.037 

		right:=/stereo/right/image_raw left:=/stereo/left/image_raw 
		right_camera:=/stereo/right left_camera:=/stereo/left" 
		output="screen">
	</node>

</launch>

<!-- 		size 10x7  square 0.03  -->
		<!-- square 0.072  -->

