<?xml version="1.0"?>
<launch>

<arg name="video_device_right" default="/dev/video0" />
<arg name="video_device_left" default="/dev/video1" />

<arg name="image_width" default="640" />
<arg name="image_height" default="480" />

<arg name="framerate" default="30" />

<arg name="camera_info" default="false" />
<arg name="camera_info_path" default="stereo_camera_info" />

<!-- <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager"/> -->

<node ns="stereo" name="cameras" pkg="uvc_camera" type="uvc_stereo_node" output="screen">
	<param name="left/device" value="$(arg video_device_left)" />
	<param name="right/device" value="$(arg video_device_right)" />

	<param name="left/rotate" value="true" />
	<param name="right/rotate" value="true" />

	<param name="left/camera_info_url" value="file://${ROS_HOME}/$(arg camera_info_path)/left.yaml" if="$(arg camera_info)"/> 
	<param name="right/camera_info_url" value="file://${ROS_HOME}/$(arg camera_info_path)/right.yaml" if="$(arg camera_info)"/> 

	<param name="width" value="$(arg image_width)" />
	<param name="height" value="$(arg image_height)" />
	<param name="fps" value="$(arg framerate)" /> 
	<param name="frame_id" value="cameras" />

</node>

</launch>
