<?xml version="1.0"?>
<launch>
    <include file="cameras_driver_usb.launch"/>

    <group ns="stereo">
  
        <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc" output="screen">
            <param name="approximate_sync" value="true" />
            <param name="speckle_size" value="500" />
            <param name="speckle_range" value="4" />
            <param name="min_disparity" value="-14" />
            <param name="disparity_range" value="96" />
        </node>

    </group>

    <node pkg="image_view" type="stereo_view" name="stereo_view" output="screen">
        <remap from="stereo" to="/stereo" />
        <remap from="image" to="image_rect_color" />
        <param name="approximate_sync" value="true" />
    </node>

</launch>
