<?xml version="1.0"?>
<launch>

    <include file="$(find tigra_ros_pkg)/launch/ros_serial_link.launch" />

    <node pkg="joy" type="joy_node" name="joystick" output="screen" >
        <param name="dev" value="/dev/input/js0" />
    </node>

    <node pkg="tigra_ros_pkg" type="joy_ctrl.py" name="joy_ctrl" output="screen" >
    	<param name="debug" value="True" />
    </node>

</launch>
