<?xml version="1.0"?>
<launch>

    <arg name="odom_instance" default="local" doc="[local, global]"/>
    <!-- <param name="use_sim_time" value="true" /> -->

    <!-- playing rosbag -->
    <node pkg="rosbag" type="play" name="rosbag_play" output="screen"
        args="
            --quiet
            --clock
            --topics
                /tf_static
                /rs_camera/color/image_raw
                /rs_camera/aligned_depth_to_color/image_raw
                /rs_camera/color/camera_info
                /rs_camera/imu
                /lslidar_point_cloud
                /zed_f9p/fix
            --bags
                /media/nikita/2A44A5CE44A59CD7/Users/Nikitos/Мои\ документы/rosbags_nami/rosbag_nami_3.bag
                /media/nikita/2A44A5CE44A59CD7/Users/Nikitos/Мои\ документы/rosbags_nami/rosbag_nami_4.bag
                /media/nikita/2A44A5CE44A59CD7/Users/Nikitos/Мои\ документы/rosbags_nami/rosbag_nami_5.bag
                /media/nikita/2A44A5CE44A59CD7/Users/Nikitos/Мои\ документы/rosbags_nami/rosbag_nami_6.bag
                /media/nikita/2A44A5CE44A59CD7/Users/Nikitos/Мои\ документы/rosbags_nami/rosbag_nami_7.bag
                /media/nikita/2A44A5CE44A59CD7/Users/Nikitos/Мои\ документы/rosbags_nami/rosbag_nami_8.bag
                /media/nikita/2A44A5CE44A59CD7/Users/Nikitos/Мои\ документы/rosbags_nami/rosbag_nami_9.bag
            "/>

    <node pkg="tf2_ros" type="static_transform_publisher"
        name="base_footprint_2_base_link"
        args="
            0.0 0.0 0.25
            0.0 0.0 0.0
            /base_footprint /base_link" />
    <node pkg="tf2_ros" type="static_transform_publisher"
        name="base_footprint_2_rear_axis_link"
        args="
            0.0 0.0 0.25
            0.0 0.0 0.0
            /base_footprint /rear_axis_link" />
    <node pkg="tf2_ros" type="static_transform_publisher"
        name="rear_axis_link_2_front_axis_link"
        args="
            1.25 0.0 0.0
            0.0 0.0 0.0
            /rear_axis_link /front_axis_link" />
    <node pkg="tf2_ros" type="static_transform_publisher"
    name="front_axis_link_2_rs_camera_link"
        args="
            -0.19 0.0 1.3
            0.0 0.14 -0.02
            /front_axis_link /rs_camera_link" />
    <node pkg="tf2_ros" type="static_transform_publisher"
        name="rear_axis_link_2_rs_camera_rear_link"
        args="
            -0.19 0.0 0.52
            3.1415 0.02 3.1415
            /rear_axis_link /rs_camera_rear_link" />
    <node pkg="tf2_ros" type="static_transform_publisher"
        name="front_axis_link_2_laser_link"
        args="
            0.07 0.0 0.715
            1.530796327 0.0 0.04
            /front_axis_link /laser_link" />

    <node pkg="tf2_ros" type="static_transform_publisher"
        name=""
        args="
            0.000 0.000 0.000
            0.000 -0.000 0.000
            /rs_camera_link /rs_camera_depth_frame" />
    <node pkg="tf2_ros" type="static_transform_publisher"
        name=""
        args="
            0.000 0.000 0.000
            -1.571 -0.000 -1.571
            /rs_camera_depth_frame /rs_camera_depth_optical_frame" />

    <node pkg="tf2_ros" type="static_transform_publisher"
        name=""
        args="
            -0.000 -0.059 -0.000
            -0.001 -0.003 0.001
            /rs_camera_link /rs_camera_color_frame" />

    <node pkg="tf2_ros" type="static_transform_publisher"
        name=""
        args="
            -0.000 -0.059 -0.000
            -0.001 -0.003 0.001
            /rs_camera_link /rs_camera_aligned_depth_to_color_frame" />
    <node pkg="tf2_ros" type="static_transform_publisher"
        name=""
        args="
            0.000 0.000 0.000
            -1.571 -0.000 -1.571
            /rs_camera_aligned_depth_to_color_frame /rs_camera_color_optical_frame" />

    <node pkg="tf2_ros" type="static_transform_publisher"
        name=""
        args="
            -0.016 -0.030 0.007
            0.000 -0.000 0.000
            /rs_camera_link /rs_camera_gyro_frame" />
    <node pkg="tf2_ros" type="static_transform_publisher"
        name=""
        args="
            0.000 0.000 0.000
            -1.571 -0.000 -1.571
            /rs_camera_gyro_frame /rs_camera_imu_optical_frame" />

    <node pkg="tf2_ros" type="static_transform_publisher"
        name=""
        args="
            -0.016 -0.030 0.007
            0.000 -0.000 0.000
            /rs_camera_link /rs_camera_accel_frame" />
    <node pkg="tf2_ros" type="static_transform_publisher"
        name=""
        args="
            0.000 0.000 0.000
            -1.571 -0.000 -1.571
            /rs_camera_accel_frame /rs_camera_accel_optical_frame" />

    <node pkg="tf2_ros" type="static_transform_publisher"
        name="base_footprint_2_gps"
        args="
            0.0 0.0 3.0
            0.0 0.0 0.0
            /base_footprint /gps" />

    <!-- imu_filter -->
    <include file="$(find tigra_software)/launch/drivers/imu_filter.launch">
        <arg name="imu/data_raw" value="rs_camera/imu"/>
        <arg name="imu/data_filtered" value="rs_camera/imu/filtered"/>
    </include>
    <!-- base_footprint_stabilized -->
    <node pkg="rtabmap_util" type="imu_to_tf" name="rtabmap_imu_to_tf" output="screen">
        <param name="fixed_frame_id" value="base_footprint_stabilized"/>
        <param name="base_frame_id" value="base_footprint"/>
        <remap from="imu/data" to="rs_camera/imu/filtered"/>
    </node>

    <!-- rdbd_odometry and slam -->
    <include file="$(find tigra_vision)/launch/start_rtabmap_lidar_cam_nami.launch">
        <arg name="localization" value="false" />
        <arg name="database_path" value="$(find tigra_maps)/3d_maps/new_map.db" />
        <arg name="rtabmap_viz" value="false" />
    </include>

    <!-- ekf_local -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_local_node" clear_params="true" output="screen">
        <rosparam command="load" file="$(find tigra_software)/config/robot_localization/ekf_local_nami.yaml" />
        <param name="publish_tf" value="false" />
        <remap from="odometry/filtered" to="odometry/filtered/local" />
        <remap from="diagnostics" to="ekf_local_diagnostics"/>
    </node>
    <!-- ekf_global -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_global_node" output="screen">
        <rosparam command="load" file="$(find tigra_software)/config/robot_localization/ekf_global_nami.yaml" />
        <param name="publish_tf" value="false" />
        <!-- inputs -->
        <remap from="set_pose" to="ekf_global/set_pose"/>
        <!-- outputs -->
        <remap from="odometry/filtered" to="odometry/filtered/global"/>
        <remap from="diagnostics" to="ekf_global_diagnostics"/>
    </node>
    <!-- navsat_transform -->
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_node" output="screen">
        <rosparam command="load" file="$(find tigra_software)/config/robot_localization/navsat_transform_nami.yaml" />
        <!-- inputs -->
        <remap from="odometry/filtered" to="odometry/filtered/global"/>
        <remap from="gps/fix" to="zed_f9p/fix"/>
        <remap from="imu/data" to="rs_camera/imu"/>
        <!-- outputs -->
        <remap from="odometry/gps" to="odometry/gps"/>
        <remap from="gps/filtered" to="gps/filtered"/>
    </node>

    <!-- plotting graphs -->
    <group if="$(eval odom_instance == 'local')">
        <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
            args="
                /odometry/filtered/local/pose/covariance[0]
                /odometry/filtered/local/pose/covariance[7]
                /odometry/filtered/local/pose/covariance[35]
                /odometry/filtered/local/twist/covariance[0]
                /odometry/filtered/local/twist/covariance[7]
                /odometry/filtered/local/twist/covariance[35]
                "/>
        <node pkg="rqt_multiplot" type="rqt_multiplot" name="rqt_multiplot"
            args="
                --multiplot-config $(find tigra_software)/config/rqt/rqt_multiplot/ekf_local_nami.xml
                --multiplot-run-all
                "/>
    </group>
    <group if="$(eval odom_instance == 'global')">
        <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
            args="
                /odometry/filtered/global/pose/covariance[0]
                /odometry/filtered/global/pose/covariance[7]
                /odometry/filtered/global/pose/covariance[35]
                /odometry/filtered/global/twist/covariance[0]
                /odometry/filtered/global/twist/covariance[7]
                /odometry/filtered/global/twist/covariance[35]
                "/>
        <node pkg="rqt_multiplot" type="rqt_multiplot" name="rqt_multiplot"
            args="
                --multiplot-config $(find tigra_software)/config/rqt/rqt_multiplot/ekf_global_nami.xml
                --multiplot-run-all
                "/>
    </group>
    <!-- viev gps data in foxglove -->
    <include file="$(find foxglove_bridge)/launch/foxglove_bridge.launch">
        <arg name="port" value="8765" />
    </include>

    <!-- <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tigra_software)/config/rqt/rviz/rosbag_nami.rviz" /> -->

</launch>
