<?xml version="1.0"?>
<launch>

    <arg name="odom_instance" />

    <!-- local -->
    <group if="$(eval odom_instance == 'local')">
        <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
            args="
                /odometry/filtered/local/pose/covariance[0]
                /odometry/filtered/local/pose/covariance[7]
                /odometry/filtered/local/pose/covariance[35]
                /odometry/filtered/local/twist/covariance[0]
                /odometry/filtered/local/twist/covariance[7]
                /odometry/filtered/local/twist/covariance[35]
                "/>
        <node pkg="rqt_multiplot" type="rqt_multiplot" name="rqt_multiplot"
            args="
                --multiplot-config $(find tigra_software)/config/rqt/rqt_multiplot/ekf_local.xml
                --multiplot-run-all
                "/>
    </group>

    <!-- global -->
    <group if="$(eval odom_instance == 'global')">
        <node name="rqt_plot" pkg="rqt_plot" type="rqt_plot"
            args="
                /gps/filtered/position_covariance[0]
                /gps/filtered/position_covariance[4]
                "/>
        <node pkg="rqt_multiplot" type="rqt_multiplot" name="rqt_multiplot"
            args="
                --multiplot-config $(find tigra_software)/config/rqt/rqt_multiplot/ekf_global.xml
                --multiplot-run-all
                "/>
    </group>

</launch>